@import url(typography.css);
@import url(nav.css);
@import url(footer.css);

/* ===== Base ===== */
html {
  background-color: #fff5d1;
  font-family: "Times New Roman", Times, serif;
  font-size: clamp(20px, 1.4vw, 40px);
  line-height: 1.5;
  color: #000;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 70ch;
  padding: 1rem;
}

* {
  box-sizing: border-box;
}

/* ===== Lenker ===== */
a {
  color: rgb(80, 80, 80);
  text-decoration: none;
}
a:hover {
  color: #d11305;
  transition: color 0.2s ease;
  text-decoration: underline;
  cursor: pointer;
}

/* ===== Kortfarger ===== */
.card-heart,
.card-diamond {
  color: red;
}
.card-club,
.card-spade {
  color: black;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 1px solid #000; /* valgfritt: gir sort ramme slik du ønsket */
}
