---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Om → Tonie Wei";
export const breadcrumb = "Om meg";
---
<BaseLayout pageTitle={pageTitle}>
  <h1>Hei, det er meg → Tonie</h1>
  <p class="subhead">Litt om meg og hvorfor jeg lager denne nettsiden</p>

  <p>
    Noen ganger. En gang i blant tenker jeg på å lære meg noe nytt. Å lage denne nettsiden er en av de tankene, og likt som å spille Sims har det vært gøy å bygge rammeverket for nettsiden på samme måte som huset, men å bruke dagene med å fylle det opp med mening og innhold – er gørr kjedelig.
  </p>

  <p>
    Jeg vil bruke Motherload og Rosebud!;!;!;!!!;!;!;!;!;!;!;!?!;!;! og komme til mål med uendelig med ideer og innhold, men sånt vokser ikke på mine pileaer.
  </p>
<p>
  Jeg husker mamma årna en datamaskin med Windos Vista i 2006. Den hadde en blank av/på-knapp som lyste blått når den var på. Og jeg brukte ofte stortåa til å skru den både av og på. Jeg fikk meg ingen nye venner på den maskinen, men jeg lærte meg å bruke Paint og Word Art.</p>

</BaseLayout>
