---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Om → Tonie Wei";
export const breadcrumb = "Om meg";
---
<BaseLayout pageTitle={pageTitle}>
  <h1>Hei, det er meg → Tonie</h1>
  <p class="subhead">Litt om meg og hvorfor jeg lager denne nettsiden</p>

  <p>
    Denne nettsiden er et eksperimentrom.  
    Jeg lærer meg HTML, CSS og JavaScript (Astro rammeverket), og prøver å bygge opp en slags digital dagbok.
  </p>
<p>
  Jeg husker mamma årna en datamaskin med Windos Vista i 2006. Den hadde en blank av/på-knapp som lyste blått når den var på. Og jeg brukte ofte stortåa til å skru den både av og på. Jeg fikk meg ingen nye venner på den maskinen, men jeg lærte meg å bruke Paint og Word Art.</p>

  <p>
    Jeg er n00b, men jeg er en n00b som prøver. Og jeg synes det er gøy!  
    Følg meg gjerne på Instagram <a href="https://www.instagram.com/megselvtonie/">@megselvtonie</a>,  
    eller bare klikk deg rundt her og se hva jeg holder på med.
  </p>
</BaseLayout>
