---

import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Om → Tonie Wei";
---
<BaseLayout pageTitle={pageTitle}>
	
	<p>Velkommen til nettsiden min. 
		<ul>
			<li>Jeg heter Tonie Wei, er 32 år gammel og bor i Mo i Rana, Norge.
		Jeg er født i Kina og oppvokst i Trøndelag.
		Jeg liker å spille brettspill, lese tegneserier og være med venner.
		Jeg har laget denne nettsiden for å lære mer om webutvikling og selvutvikling på nett.
		Jeg håper du finner noe interessant her!
		</li>
		</ul>
	</p>
	
	<p>Dette nettstedet vil bli oppdatert etter hvert som jeg bli bedre på koding, så kom gjerne tilbake og se hvordan reisen min går!</p>

</BaseLayout>

