---
import '../styles/global.css';
import Navigation from '../components/navigation.astro';

const pageTitle = "Om Tonie Wei";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>

     	<Navigation/>
       <!-- <a href="/blog/">Heia bloggen &lt;3</a> --> 

   <h1>Hei jeg heter Tonie Wei og er veldig glad i tegneserier</h1>
  <h2>... og min nye Astro-side!</h2>

  <p>Jeg jobber meg gjennom Astros introduksjonsveiledning. Dette er den andre siden på nettstedet mitt, og det er den første jeg har laget selv!</p>

  <p>Dette nettstedet vil bli oppdatert etter hvert som jeg fullfører mer av veiledningen, så kom gjerne tilbake og se hvordan reisen min går!</p>

</body>
</html>


