---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Om → Tonie Wei";
---
<BaseLayout pageTitle={pageTitle}>
  <h1>Hei, det er meg → Tonie</h1>

  <h2>Hvem jeg er</h2>


  <h2>Hva jeg liker</h2>


  <h2>Hvorfor denne nettsiden?</h2>
  <p>
    Denne nettsiden er et eksperimentrom.  
    Jeg lærer meg HTML, CSS og JavaScript (Astro rammeverket), og prøver å bygge opp en slags digital dagbok.
  </p>

  <h2>Litt til slutt</h2>
  <p>
    Jeg er n00b, men jeg er en n00b som prøver. Og jeg synes det er gøy!  
    Følg meg gjerne på Instagram <a href="https://www.instagram.com/megselvtonie/">@megselvtonie</a>,  
    eller bare klikk deg rundt her og se hva jeg holder på med.
  </p>
</BaseLayout>
