---

import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Om Tonie Wei";
---
<BaseLayout pageTitle={pageTitle}>
	
	<h1>Hei jeg heter Tonie Wei og er veldig glad i tegneserier</h1>
	<h2>... og min nye Astro-side!</h2>
	
	<p>Jeg jobber meg gjennom Astros introduksjonsveiledning. Dette er den andre siden på nettstedet mitt, og det er den første jeg har laget selv!</p>
	
	<p>Dette nettstedet vil bli oppdatert etter hvert som jeg fullfører mer av veiledningen, så kom gjerne tilbake og se hvordan reisen min går!</p>

</BaseLayout>

