---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Blogg → Tonie Wei";

---

<BaseLayout pageTitle={pageTitle}>

  <h1>Blogg</h1>
  <p>Velkommen til bloggen min! Her deler jeg mine tanker, erfaringer og prosjekter innen webutvikling og teknologi. Følg med for oppdateringer og nye innlegg!</p>   
  <p>Jeg har nylig oppdatert bloggen min med et nytt layout og design. Håper du liker det!</p>
  <p>Jeg er fortsatt i læringsfasen, så vær tålmodig med meg. Jeg håper å bli flinkere på koding og webutvikling etter hvert.</p>

  

  </BaseLayout>