---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "vb blogg %lt;3";

---
<BaseLayout pageTitle={pageTitle}>

   <h1>Heia bloggen! </h1>
      <ul>
      <li><a href="/posts/første/">Første innlegg</a></li>
    </ul>

</BaseLayout>

