---
import BaseLayout from '../layouts/BaseLayout.astro';
import DateTag from '../components/DateTag.astro';
import ShortCards from '../components/ShortCards.astro';
const pageTitle = "Jeg liker→fire ord";

import PageView from '../components/PageView.astro';
---
<BaseLayout pageTitle={pageTitle}>
<h1>Jeg liker → fire ord</h1>
<DateTag datetime="2025-11-18T21:35" />
<p>Fire rare ord jeg liker<br>
    <small>
eklektisk<br>
uærbødig<br>
eitranes<br>
og fløyel
    </small>
</p>

<p>
Fire ting jeg alltid trenger<br>
    <small>
Mot<br>
tid<br>
håp<br>
og iver
    </small>
</p>

<p>
Fire kjipe ting å miste<br>
    <small>
livet<br>
porselen<br>
synet<br>
og mine venner
    </small>
</p>

<p>
Fire ting jeg sjeldent gjør<br>
    <small>
gråte<br>
hviske<br>
tvile<br>
og høre
    </small>
</p>

<p>Fire ting jeg ikke eier<br>
    <small>
hat<br>
båt&hytte&trade;<br>
____<br>
og ____
    </small>
</p>

<p>
Fire tunge ting å bære<br>
    <small>
skam<br>
____<br>
____<br>
____
    </small>
</p>

<p>
Fire grunner til å leve<br>
    <small>
Våren<br>
orgasmer<br>
sjokolade<br>
og ____
    </small>
</p>

<p>
Fire ord som alltid frister<br>
    <small>
utflukt<br>
brettspill<br>
____<br>
og ____
    </small>
</p>