---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "megselv→tonie";
---
<BaseLayout pageTitle={pageTitle}>

<h1>Velkommen til min digitale hage!</h1>
	<h2> Denne nettsiden har jeg kodet fra bunnen av (august 2025)</h2>


<p>
  Jeg heter Tonie og er 32 år gammel.  
  Jeg er born i China, raised in innerste Trøndelag og bor i Mo i Rana.  
  Jeg liker å spille brettspill, lese comics og være med venner.
</p>

<h2>Teknologi</h2>
<p>
  Jeg har laget denne nettsiden for å lære mer om webutvikling og selvutvikling på nett.  
  Jeg har brukt <strong>Astro</strong> som rammeverk for å lage nettsiden min.  
  Jeg har brukt <strong>Node.js</strong> som kjøretidsmiljø for å kjøre Astro.  
  Jeg har brukt <strong>npm</strong> som pakkebehandler for å installere Astro.  
  Jeg har også brukt Visual Studio Code som teksteditor.  
  Jeg har brukt GitHub for å lagre koden min.  
</p>
<p>
  Jeg har brukt noen royalty free (gratis og lisensfrie) bilder fra overalt for å pynte på siden min.  
  Jeg har brukt litt CSS for å style siden min.  
  Jeg har brukt litt HTML for å lage strukturen på siden min.  
  Jeg har brukt litt JavaScript for å lage litt interaktivitet på siden min.  
  Jeg har brukt litt Markdown for å skrive innholdet på siden min.  
</p>

<p>
  Jeg er en n00b på utvikling, så vær snill med meg!  
  Jeg håper å lære mye og bli flinkere.  
  Følg meg på sosiale medier Instagram 
  <a href="https://www.instagram.com/megselvtonie/">@megselvtonie</a> for å se mitt liv.  
  Takk for at du besøker siden min!  
  Ha en fin dag!  
  Hilsen, megselvtonie
</p>
</style>




</BaseLayout>

