---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "megselvtonie";
---
<BaseLayout pageTitle={pageTitle}>

<h1>Velkommen til min n00b nettside. dato 23. august 23.48</h1>
<h2>Dette er min Astro-side!</h2>
<h3>Dette er min første nettside laget med Astro og dette er en blogg</h3>
		<p>Dette er min første nettside laget med Astro og dette er en blogg.<br />
			Jeg heter Tonie og er 32 år gammel<br />
			Jeg er born i China, raised in innerste Trøndelag og bor i Mo i Rana<br />
			Jeg liker å spille brettspill, lese comics og være med venner<br />
			Jeg har laget denne nettsiden for å lære mer om webutvikling, selvutvikling på nett<br />
			Jeg har brukt Astro som rammeverk for å lage nettsiden min<br />
			Jeg har brukt Node.js som kjøretidsmiljø for å kjøre Astro<br />
			Jeg har brukt npm som pakkebehandler for å installere Astro<br />
			Jeg har også brukt Visual Studio Code som teksteditor<br />
			Jeg har brukt GitHub for å lagre koden min<br />
			Jeg har brukt GitHub Copilot for å få hjelp med koden min<br />
			Jeg har brukt noen royalty free (gratis og lisensfrie) bilder fra overalt for å pynte på siden min<br />
			Jeg har brukt noen gratis (lisensfrie) ikoner fra overalt for å pynte på siden min<br />
			Jeg har brukt noen gratis fonter fra Google Fonts for å pynte på siden min<br />
			Jeg har brukt litt CSS for å style siden min<br />
			Jeg har brukt litt HTML for å lage strukturen på siden min<br />
			Jeg har brukt litt JavaScript for å lage litt interaktivitet på siden min<br />
			Jeg har brukt litt Markdown for å skrive innholdet på siden min<br />
			Jeg er en n00b på utvikling, så vær snill med meg!<br />
			Jeg håper å lære mye og bli flinkere<br />
			Følg meg på sosiale medier instagram <a href="https://www.instagram.com/megselvtonie/">@megselvtonie</a> for å se mitt liv<br />
			Takk for at du besøker siden min!<br />
			Ha en fin dag!<br />
			Hilsen, megselvtonie
		</p>
</BaseLayout>