---
import BaseLayout from '../layouts/BaseLayout.astro';
import PageView from '../components/PageView.astro';
import DateTag from '../components/DateTag.astro';
const pageTitle = "megselv→tonie";
---
<BaseLayout pageTitle={pageTitle}>

<h1>Det er meg – meg selv Tonie</h1>
	<h2> Jeg drømte om å bli kokk eller elektriker som barn.<DateTag datetime="2025-08-28T00:06" /></h2>


<p>
  Jeg husker mamma årna en datamaskin med Windos Vista i 2006. Den hadde en blank av/på-knapp som lyste blått når den var på. Og jeg brukte ofte stortåa til å skru den både av og på. Jeg fikk meg ingen nye venner på den maskinen, men jeg lærte meg å bruke Paint og Word Art.</p>
<p>
  Jeg heter Tonje og er 32 år gammel. I dag er det den 31. august 2025 og jeg bor i Mo i Rana.
  </p>

<p>
  Denne nettsiden har jeg bygget helt fra bunnen. Jeg skriver i HTML og CSS, og har lært meg å bruke JavaScript der jeg må – som i menyen som åpner og lukker seg på mobil. Den er jeg veldig stolt av, og jeg brukte ca 5 timer på å sette den opp.
<p>
  NYESTE NYTT GUTTAAA! <DateTag datetime="2025-09-07T19:06" />
  </p>
  <PageView />
</BaseLayout>

