---
import BaseLayout from '../layouts/BaseLayout.astro';
import DateTag from '../components/DateTag.astro';
import ShortCards from '../components/ShortCards.astro';
const pageTitle = "megselv→tonie";

import PageView from '../components/PageView.astro';
---
<BaseLayout pageTitle={pageTitle}>

<h1>Det er meg – meg selv Tonie</h1>
	<h2> Gratulerer, du fant nettsiden min</h2>

<p>
  <DateTag datetime="2025-08-28T00:06" />
  Denne nettsiden har jeg skrevet for hånd. Helt fra bunnen. Jeg skriver i språkene HTML og CSS, og har lært meg å bruke JavaScript der jeg må – som i menyen som åpner og lukker seg på mobil. Du sitter sikkert på den nå. 

  <PageView />
</BaseLayout>

