---
import BaseLayout from '../layouts/BaseLayout.astro';
import DateTag from '../components/DateTag.astro';
import { getCollection } from 'astro:content';

export const breadcrumb = "kokqboka";

const pageTitle = "Kokeboka → mi";

// Hent alle oppskrifter
const recipes = await getCollection('oppskrifter');
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Kokeboka mi <DateTag datetime="2025-10-01T23:15" /></h1>
    <p class="subhead">Mine favorittoppskrifter samlet på ett sted!</p>
    <p class="ingress">Her finner du en samling av mine favorittoppskrifter, fra raske hverdagsretter til mer avanserte måltider for spesielle anledninger. Jeg håper du finner noe som frister!</p>
    <h2>Oppskrifter <DateTag datetime="2025-10-04T21:15" /></h2>
   {recipes.length === 0 ? (
    <p>Ingen oppskrifter lagt til ennå.</p>
  ) : (
    <ul>
      {recipes.map(recipe => (
        <li>
          <a href={`/oppskrifter/${recipe.slug}/`}>
            {recipe.data.title}
          </a>
          {recipe.data.date && (
            <DateTag datetime={recipe.data.date} />
          )}
        </li>
      ))}
    </ul>
  )}
</BaseLayout>