---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Om → Nettsiden min";
---
<BaseLayout pageTitle={pageTitle}>
    <h1>Denne nettsiden er skrevet for hånd</h1>

<h2>… og har en bakside</h2>

<p>
    Den ser slik ut
    
    fordi jeg har kodet den selv. 

    En nettside består av tall og bokastaver som en datamaskin kan lese.  
    Jeg har skrevet alle tallene og bokstavene selv, uten å bruke en nettsidebygger som Wix eller WordPress.  
    Det har tatt meg mange timer å lære meg HTML og CSS, som er språkene som brukes til å lage nettsider.

    Første gangen jeg lærte om HTML og CSS var i 2015, da jeg hadde et lite fag på NTNU om koding. Jeg forstå raskt at jeg ikke ville lære meg mer om dette, da jeg synes det var vanskelig. Men jeg lærte nok til at jeg kunne forstå hvordan nettsider er laget.

    Kort sagt er HTML – skjelletet og innholdet. Det er disposisjonen til nettsiden. Den bestemmer hva som finnes. En overskrift, et bilde, en knapp.
    CSS bestemmer hvordan alt ser ut: farger, fornter, størrelser og plassering.

    <!--!finn ut hvordan bildet kommer fram...-->
    <!-- * viktig utheving  --> 
     <!-- ? spørsmål -->
      <!-- TODO: her -->

    Jeg har brukt Astro som rammeverk, og lært meg HTML, CSS og litt JavaScript underveis.
    Jeg har laget denne nettsiden for å lære mer om webutvikling og selvutvikling på nett.  
</p>
<p>
  Jeg har brukt <strong>Astro</strong> som rammeverk for å lage nettsiden min.  
  Jeg har brukt <strong>Node.js</strong> som kjøretidsmiljø for å kjøre Astro.  
  Jeg har brukt <strong>npm</strong> som pakkebehandler for å installere Astro.  
  Jeg har også brukt Visual Studio Code som teksteditor.  
  Jeg har brukt GitHub for å lagre koden min.  
</p>
<p>
  Jeg har brukt noen royalty free (gratis og lisensfrie) bilder fra overalt for å pynte på siden min.  
  Jeg har brukt litt CSS for å style siden min.  
  Jeg har brukt litt HTML for å lage strukturen på siden min.  
  Jeg har brukt litt JavaScript for å lage litt interaktivitet på siden min.  
  Jeg har brukt litt Markdown for å skrive innholdet på siden min.  
</p>

<p>
  Jeg er en n00b på utvikling, så vær snill med meg!  
  Jeg håper å lære mye og bli flinkere.  
  Følg meg på sosiale medier Instagram 
  <a href="https://www.instagram.com/megselvtonie/">@megselvtonie</a> for å se mitt liv.  
  Takk for at du besøker siden min!  
  Ha en fin dag!  
  Hilsen, megselvtonie
</p>

</BaseLayout>