---
---


<div class="hamburger-container" role="button" tabindex="0" aria-label="Åpne meny">
  <div class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>
  <span class="menu-text">MENU</span>
</div>


<style>
  .hamburger .line {
  display: block;
  width: 18px;
  height: 2px;
  margin-bottom: 4px;
  background-color: black;
}
  .hamburger-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  user-select: none;
  gap: 0.5rem;
}


.menu-text {
  font-weight: bold;
 skjul på desktop som standard */
}

</style>