---
---


<div class="hamburger-container">
<div class="hamburger">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>
<span class="menu-text">MENU</span>
</div>

<style>
  .hamburger .line {
  display: block;
  width: 18px;
  height: 2px;
  margin-bottom: 4px;
  background-color: black;
}
  .hamburger-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
</style>