---
---


<div class="hamburger-container">
<div class="hamburger">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>
<span class="menu-text">MENU</span>
</div>

<style>
  .hamburger .line {
  display: block;
  width: 18px;
  height: 2px;
  margin-bottom: 4px;
  background-color: black;
}
  .hamburger-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.menu-text {
  font-weight: bold;
 skjul på desktop som standard */
}
/*
.hamburger-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  gap: 0.25rem; avstand mellom streker og tekst
  */

</style>