---
import Header from '../components/Header.astro';
import PageWeight from "../components/PageWeight.astro";
import Footer from '../components/Footer.astro';
import PageView from '../components/PageView.astro';

import '../styles/global.css';

//const pagetitle er javascript, pagetitle settes i {} og plasseres i head for å forklare fane-navnet på nettsiden
const { pageTitle } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/rosahjerte.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>

	<body>
		<Header />
    <PageView />
		
		<main>
            <slot />
	    </main>
<script>
import "../scripts/menu.js";
</script>
<PageWeight />
 <Footer/>

<script is:inline>
  // Håndter eksterne lenker
  document.querySelectorAll('a[href]').forEach(link => {
    const href = link.getAttribute('href') || '';

    // Hopp over e-post og telefonlenker
    if (href.startsWith('mailto:') || href.startsWith('tel:')) return;

    // Bygg URL for å sammenligne domenet
    const url = new URL(href, location.href);

    // Hvis lenken går til annet domene → ny fane + sikkerhet
    if (url.protocol.startsWith('http') && url.host !== location.host) {
      link.target = '_blank';
      link.rel = 'noopener noreferrer';
    }
  });

</script>

	</body>
</html>


